

#chat{
    min-width: 300px;
    min-height: 500px;
    margin-right: auto;
    margin-left: auto;
    width: 40vw;
    position: relative;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

#chatbox{
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    width: 40vw;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    min-width: 300px;
    border-radius: 10px;
}
#chat main{
    padding: 2vh;
    overflow-y: scroll;
    max-height: 73vh;
    border-radius: 10px;
}

#chat #header{
    border-radius: 10px 10px 0 0 ;
    background-color: darkslateblue;
    color: white;
    height: 50px;
}
#chat #header h1{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
}
#chat main #chatmessage{
    width: fit-content;
    border-radius: 4px;
    margin-bottom: 1vh;

}
#chat main #chatmessage #authorMessage{
    color: white;
    width: fit-content;
    border-radius: 4px;
    margin: 0px;
    max-width: 400px;
}

#chat main #chatmessage p{
    margin: 0px;
    padding-bottom: 0vh;
}

#chat main #chatmessage div p{
    padding: 10px;
    margin: 0px;
    border-radius: 1vw;
}

#chat main #chatmessage strong{
    border-radius: 1vw;
}


div footer form{
    width: fit-content;
    margin-right: auto;
    margin-left: auto   ;
}

div footer form input{
    width: 30vw;
    height: 6vh;
    border-radius: 20px 0px 0px 20px;
    border: white;
    margin-left: 1vw;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    padding-left: 1vw;
    border: none;
    min-width: 200px;
}

div footer form button{
    margin-right: 1vw;
    height: 6vh;
    color: white;
    background-color:darkslateblue;
    border-radius: 0px 10px 10px 0px;
    border: none;
    width: 4vw;
    min-width: fit-content;
}

/* width */
::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
